:root {
  --main-font: "Tactisans-Reg", "Anton", sans-serif;
}
@font-face {
  font-family: "Tactisans-Reg";
  src: url(/font/TacticSansExd-Blk.otf);
}
.form-container{
  background-color: black;
}
.form {
  background-color: black;
  color: #b4ffca;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 15rem 2rem 15rem;
  border-width: 0px;
}
.form-text h1 {
  font-family: "Tactisans-Reg", sans-serif;
  font-weight: 400;
  font-size: 48px;
  padding-bottom: 16px;
  width: 80%;
}
.ideas {
  width: 85%;
  font-size: 20px;
  font-weight: 300;
}
.form-text .text-break a {
  color: #b4ffca;
}
.form-text button {
  background-color: #b4ffca;
  border: 1px solid #b4ffca;
  color: black;
  font-size: 32px;
  font-family: "Tactisans-Reg", sans-serif;
  display: flex;
 justify-content: center;
 align-items: center;
  gap: 1rem;
  outline: none;
  width: 75%;
  border-radius: 16px;
  padding: 21px;
  margin-top: 48px;
  transition: all 0.6s ease-in-out;
}
.form-text button:hover{
  background-color: black;
  color: #b4ffca;
  transform: scale(1.05);
 /* transition: all 0.6s ease-in-out; */
}
.ptag{
  display: inline-block;
}
/* .form-img {
  padding-top: 10rem;
} */
 @media screen and (min-width: 1960px) {
  .form{
    justify-content: center;
  }
  .form-text h1{
    font-size: 64px;
    width: 100%;
  }
  .ideas {
    font-size: 24px;
  }
  .form-text button{
    font-size: 42px;
  }
 }
 @media screen and (max-width: 1260px){
  .form-text h1{
    font-size: 38px;
  }
  .form-text button{
    font-size: 32px;
  }
 }
 @media screen and (max-width: 996px) {
  .form{
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
  }
  .form-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* margin-block: auto; */
  }
  .form-text h1 {
    font-size: 32px;
  }
  .ideas {
    font-size: 18px;
  }
  .form-text button{
    font-size: 30px;
  }
  .form-img img{
    width: 100%;
  }
 }
 @media screen and (max-width: 556px) {
  .form {
    padding: 5rem 1rem;
  }
  .form-text h1 {
    font-size: 24px;
  }
  .ideas {
    font-size: 16px;
  }
  .form-text button{
    font-size: 22px;
    padding-block: 10px;
    margin-top: 40px;
  }  
 }
 @media screen and (max-width: 376px) {
  .form-text h1 {
    font-size: 18px;
  }
  .ideas {
    font-size: 12px;
  }
  .form-text button{
    font-size: 16px;
    /* padding-block: 10px;
    margin-top: 40px; */
  }
 }
