:root {
    --main-font: "Tactisans-Reg", "Anton", sans-serif;
    --max-font: "TTFirsNeue-Reg", "Anton", sans-serif;
    /* --mid-font:  "Tactisans-Thn", "Anton", sans-serif; */
  }
  @font-face {
    font-family: "Tactisans-Reg";
    src: url(/font/TacticSansExd-Blk.otf);
  }
  @font-face {
    font-family: "TTFirsNeue-Bold";
    src: url(/font/TTFirsNeue-Bold.ttf);
  }
  @font-face {
    font-family: "TTFirsNeue-Reg";
    src: url(/font/TTFirsNeue-Medium.ttf);
  }
  .faq{
    font-family: "Tactisans-Reg", sans-serif;
    background-color: black;
    color: #b4ffca;
    border-bottom: 0px;
    border-top: 1px solid black;
  }
  .faq-item {
    background-color: black;
    color: #b4ffca;
    transition: 0.6s ease-in-out;
    border-bottom: 1px solid black;
  }
  
  .faq-item.active {
    background-color: #b4ffca;
    color: black;
  }
  .faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Important! */
  border-bottom: 1px solid #b4ffca;
  cursor: pointer;
  padding-right: 1.5rem;
}
  .faq-header.active {
    border-bottom: 1px solid black;
  }
  .faq-info {
  display: flex;
  align-items: stretch;
}
  .faq-content{
    width: 70%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
  }
  .open{
  max-height: 65rem;
  }
  .faq-content-inner {
  padding: 3rem 0 3.5rem; 
}
.text-break{
  padding-top: 2rem;
}
.faq-content-inner p{
  font-family:  "TTFirsNeue-Reg";
  font-size: 24px;
  font-weight: 400;
}
  .number{
      display: flex;
  align-items: center; /* center number vertically */
    font-size: 5rem;
    border-right: 1px solid #b4ffca;
    padding: 1.25rem;
    /* height: 100%; */
  }
  .faq-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem; 
}
  .faq-item.active .number {
  border-right: 1px solid black
}
  .num1{
    padding: 1.45rem;
  }
  .num1.active{
    border-top: 2px solid black;
  }
  .num{
    padding: 1.3rem;
  }
  .num2, .num3, .num6{
    padding: 1.3rem;
  }
  .num4{
    padding: 1.23rem;
  }
  .num5{
    padding: 1.38rem;
  }
  .num7{
    padding: 1.4rem;
  }
  .title{
    font-family: "TTFirsNeue-Bold", sans-serif;
    font-size: 3.25rem;
    padding: 1rem 0;
    /* font-weight: 500; */
  }
  .toggle{
    padding: 1rem;
    transition: transform 0.6s ease-in-out;
  }
  .faq-header:hover .toggle{
    transform: translateY(20px);
  }
  .free{
    height: 90vh;
    background-color: #b4ffca; 
    border-bottom: 0px;
  }
  .arrow-icon {
    width: 47px;
    height: 26px;
  transition: transform 0.6s ease-in-out;
    color: #b4ffca; /* default color */
}
.faq-item.active .arrow-icon {
    transform: rotate(180deg);
  color: black; /* new color when open */
}

  @media screen and (max-width: 996px) {
    .number {
      font-size: 3rem;
  }
  .title {
    font-size: 2rem;
    padding: 0.75rem;
}
.num {
  padding: 1.35rem;
}
.num2, .num3 {
  padding: 1.35rem;
}
  .num4{
    padding: 1.3rem;
  }
  .num6{
    padding: 1.35rem;
  }
.arrow-icon {
    width: 37px;
    height: 20px;
}
  .faq-content{
    width: 75%;
  }
.faq-content-inner p{
  font-size: 20px;
}
 .faq-content-inner {
  padding: 2rem 0 2.5rem; 
}
.text-break{
  padding-top: 1.25rem;
}
  .free{
    height: 80vh;
  }
  }
  @media screen and (max-width: 666px) {
    .number {
      font-size: 1.25rem;
  }
  .num2, .num3 {
  padding: 1.4rem;
}
  .num4{
    padding: 1.37rem;
  }
  .num5{
    padding: 1.42rem;
  }
  .num6{
    padding: 1.4rem;
  }
  .num7{
    padding: 1.42rem;
  }
  .title {
    font-size: 1rem;
    padding: 0.75rem;
}
  .arrow-icon {
    width: 27px;
    height: 16px;
}
  .faq-content{
    width: 85%;
  }
.faq-content-inner p{
  font-size: 17px;
}
 .faq-content-inner {
  padding: 1.5rem 0 2rem; 
}
.text-break{
  padding-top: 1rem;
}
  .free{
    height: 60vh;
  }
  }
  @media screen and (max-width: 425px) {
    .title {
      padding: 0px;
  }
  .toggle{
    padding: 0px;
  }
.arrow-icon {
    width: 22px;
    height: 11px;
}
  .faq-content{
    width: 100%;
  }
.faq-content-inner p{
  font-size: 14px;
}
 .faq-content-inner {
  padding: 1rem 0 1.5rem; 
}
.text-break{
  padding-top: 0.75rem;
}
  .free{
    height: 40vh;
  }
  }
@media screen and (max-width: 375px) {
    .faq-content-inner p{
  font-size: 12px;
}
 .faq-content-inner {
  padding: 0.75rem 0 1rem; 
}
.text-break{
  padding-top: 0.5rem;
}
  .arrow-icon {
    width: 18px;
    height: 8px;
}
  .free{
    height: 35vh;
  }
   }