:root {
    --main-font: "Tactisans-Reg", "Anton", sans-serif;
    --max-font: "TTFirsNeue-Reg", "Anton", sans-serif;
  }
  @font-face {
    font-family: "Tactisans-Reg";
    src: url(/font/TacticSansExd-Blk.otf);
  }
  @font-face {
    font-family: "TTFirsNeue-Bold";
    src: url(/font/TTFirsNeue-Bold.ttf);
  }
/* url(../../../font/TTFirsNeue-Bold.ttf) */
  .faq{
    font-family: "Tactisans-Reg", sans-serif;
    background-color: black;
    color: #b4ffca;
  }
  .faq-item {
    background-color: black;
    color: #b4ffca;
  }
  
  .faq-item.active {
    background-color: green;
    color: black;
  }
  .faq-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #b4ffca;
    cursor: pointer;
  }
  
  .faq-info{
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .faq-content{
    max-height: 0;
    overflow: hidden;
     transition: max-height 0.9s ease-in-out;
   
  }
  .open{
  max-height: 400px;
  }
  .number{
    font-size: 5rem;
    border-right: 1px solid #b4ffca;
    padding: 1.25rem;
  }
  .num1{
    padding: 1.45rem;
  }
  .num{
    padding: 1.3rem;
  }
  .num2{
    padding: 1.4rem;
  }
  .title{
    font-family: "TTFirsNeue-Bold", sans-serif;
    font-size: 3.25rem;
    padding: 1rem;
    /* font-weight: 500; */
  }
  .toggle{
    padding: 1rem;
    transition: transform 0.3s ease-in-out;
  }
  .toggle img{
    width: 50%;
  }
  .faq-header:hover .toggle{
    transform: translateY(20px);
  }
  .free{
    height: 90vh;
    background-color: #b4ffca;
    
  }