:root {
  --main-font: "Tactisans-Reg", "Anton", sans-serif;
}
@font-face {
  font-family: "Tactisans-Reg";
  src: url(/font/TacticSansExd-Blk.otf);
}
.trading {
  background-color: #000000;
  color: #b4ffca;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  gap: 128px;
  padding-top: 48px;
}
 .trade-img img{
    width: 100%;
  }
  .trade-image img{
    width: 100%;
  }
.trade-text {
  text-align: center;
  padding-bottom: 128px;
}
.trade-text h1 {
  font-size: 48px;
  font-weight: 400;
  font-family: "Tactisans-Reg", sans-serif;
  padding-bottom: 8px;
}
.trade-text p {
  font-size: 24px;
  /* width: 869px; */
  width: 65%;
  margin: 0 auto;
}
.trade-group {
  padding: 0 16px 250px;
}
.group {
  display: flex;
  gap: 18px;
  align-items: center;
  padding-top: 18px;
  cursor: pointer;
}

.group h1 {
  font-family: "Tactisans-Reg", sans-serif;
  font-size: 58px;
  font-weight: 400;
}
.click {
  color: #2a3a2f;
}
.group2 {
  justify-self: end;
}
.group3 {
  justify-self: center;
}
.group5 {
  justify-self: end;
}
@keyframes lightning {
  0% {color:  #2a3a2f;
    text-shadow:  0 0 5px #2a3a2f, 0 0 20px #2a3a2f; }
  50% { color:#2a3a2f;
    text-shadow:   0 0 10px #2a3a2f, 0 0 60px #2a3a2f; }
  100% { color:#2a3a2f;
    text-shadow:  0 0 5px #2a3a2f, 0 0 20px #2a3a2f; }
}
.lightning{
  transition: all 0.5s ease-in-out;
}
.lightning:hover{
  animation: lightning 0.1s infinite alternate;
}
.hover-image{
  transition: opacity 0.6s ease-in-out;
}
.lightning:hover .hover-image{
  content: url("/src/assets/thunder.png");
}
.icon img, .icon h1{
  transition: transform 0.6s ease-in-out;
}
.icon:hover img{
  transform: translateY(-25px);
  color: #2a3a2f;
}
.icon:hover h1{
  color: #2a3a2f;
}
@media screen and (min-width: 1560px) {
  .trade-text h1{
    font-size: 52px;
  }
  .trade-text p{
    font-size: 36px;
  }
  .group h1{
    font-size: 72px;
  }
}
@media screen and (min-width: 2160px) {
  .trade-text h1{
    font-size: 72px;
  }
  .trade-text p{
    font-size: 48px;
  }
  .group h1{
    font-size: 94px;
  }
}
@media screen and (max-width: 1024px) {
  .trade-text h1{
    font-size: 40px;
  }
  .trade-text p{
    font-size: 20px;
  }
  .group h1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 1204px) {
  .group h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 880px) {
  .trading{
    gap: 95px;
  }
  .group h1 {
    font-size: 38px;
  }
}
@media screen and (max-width: 768px) {
  .trading{
    gap: 76px;
  }
  .trade-text p {
    font-size: 16px;
  }
  .trade-group{
    padding-bottom: 200px;
  }

}
@media screen and (max-width: 668px) {
   .trade-text h1{
    font-size: 30px;
  }
  .group{
    gap: 12px;
  }
  .trade-text p {
    width: 80%;
  }
    .group h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 456px) {
  .trading{
    padding-top: 36px;
    gap: 48px;
  }
  .trade-text h1{
    font-size: 20px;
  }
    .group h1 {
    font-size: 24px;
  }
  .trade-group{
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 376px) {
  .trade-text h1{
    font-size: 18px;
  }
  .group{
    gap: 8px;
  }
    .group h1 {
    font-size: 16px;
  }
  .icon img, .lightning img{
  width: 20px;
  height: 20px;
}
}