:root {
    --main-font: "TTFirsNeue-Thin", "Anton", sans-serif;
  }
  /* url(../../../font/TTFirsNeue-Regular.ttf) */
  @font-face {
    font-family: "TTFirsNeue-Thin";
    src: url(/font/TTFirsNeue-Thin.ttf);
  }
.footer{
    background-color: black;
    color: #b4ffca;
    font-family: "TTFirsNeue-Thin", sans-serif;
}
.footer-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem 4rem;
}
.footer-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
    font-size: 24px;
    /* font-weight: 200; */
}
.lab{
    padding-top: 7rem;
}
.footer-img{
    display: flex;
    gap: 1rem;
    width: 100%;
}
.foot-img img{
    width: 65%;
}
@media screen and (min-width: 1960px) {
    .footer-div {
        padding: 4rem 4rem 8rem;
    }
    .footer-info{
        font-size: 36px;
    }
    .foot-img img {
        width: 100%;
    }
}
@media screen and (max-width: 996px) {
    .foot-img{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: end;
    }
    .foot-img img {
        width: 50%;
    }
    .footer-info {
        gap: 0.75rem;
        font-size: 18px;
    }
    .lab {
        padding-top: 3rem;
    }
    .illust img{
        width: 100%;
    }
}
@media screen and (max-width: 556px) {
    .footer-div {
        padding: 1rem 1rem 2rem;
    }
    .footer-info {
        gap: 0.5rem;
        font-size: 14px;
    }
    .foot-img img {
        width: 100%;
    }
    .footer-img img{
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width: 375px) {
    .footer-info {
        gap: 0.25rem;
        font-size: 11px;
    }
    .foot-img img {
        width: 80%;
    }
    .lab {
        padding-top: 2rem;
    }
}