:root {
    --main-font: "Tactisans-Thn", "Anton", sans-serif;
  }
  @font-face {
    font-family: "Tactisans-Thn";
    src: url(/font/TacticSansExtExd-Reg.otf);
  }
.news{
    background-color: #b4ffca;
    padding-block: 15rem 10rem;
}
.new-center{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    padding-inline: 1rem;
    padding-block: 2rem 30rem;
    /* position: relative; */
}
.new-center h1{
font-weight: 700;
font-size: 48px;
}
.new-blog{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 12px;
}
.blog{
    border: 1px solid black;
    color: black;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 16px 4px;
    transition:  0.9s ease-in-out;
    width: 420px;
}
.blog:hover{
    background-color: black;
    color: #b4ffca;
}
.blog h2{
    padding-block: 4rem 1rem;
    font-size: 40px;
    padding-left: 1rem;
}
.blog p{
    font-size: 16px;
    width: 80%;
    padding-left: 1rem;
}
.blog-img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    
}
.blog-img img{
    width: 95%;
    border: none;
    /* transition:  0.1s ease-in-out; */
}
.blog:hover .blog-img img{
    border: 1px solid #b4ffca;
    border-radius: 10%;
}
.more{
   max-height: 0;
   overflow: hidden;
    transition: max-height 0.9s ease-in-out;
    padding-left: 16px;
}
.blog:hover .more{
    max-height: 200px;
}
.blog h3{
    font-size: 32px;
    padding-block: 1.5rem;
}
.faq-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.faq-icon img{
    width: 70%;
}
.blog-more{
    position: relative;
}
.move{
    position: absolute;
    right: -30px;
    border: 1px solid black;
    border-radius: 16px;
    padding: 1rem;
    background-color: #b4ffca;
}
@media screen and (min-width: 1650px) {
    .new-center {
        padding-left: 5rem;
    }
    .new-center h1 {
        font-size: 64px;
    }
    .blog {
        width: 560px;
    }
    .blog h2 {
        font-size: 52px;
        padding-left: 2rem;
    }
    .blog p {
        font-size: 24px;
        padding-left: 2rem;
    }
}
@media screen and (max-width: 768px) {
    .news {
        padding-block: 10rem 8rem;
    }
    .new-blog{
        overflow: hidden;
    }
    .new-center{
        padding-bottom: 8rem;
    }
    .new-center h1 {
        font-size: 36px;
    }
    .blog h2{
        font-size: 32px;
    }
    .blog h3 {
        font-size: 24px;
    }
    .move{
        width: 20%;
        right: -30px;
    }
    .move img{
        width: 100%;
    }
}
@media screen and (max-width: 546px) {
    .news {
        padding-block: 7rem 4rem;
    }
    .new-center{
        padding-bottom: 5rem;
    }
    .new-center h1{
        font-size: 30px;
    }
    .blog h2{
        font-size: 24px;
        padding-block: 2rem 0.5rem;
        padding-left: 0.5rem;
    }
    .blog p {
        padding-left: 0.5rem;
        font-size: 12px;
    }
    .blog-img{
        padding-top: 1rem;
    }
    .blog h3 {
        font-size: 20px;
        padding-block: 0.75rem;
    }
    .move{
        right: -15px !important;
        width: 30%;
    }
}
@media screen and (max-width: 388px) {
    .new-center h1{
        font-size: 24px;
    }
    .blog h2 {
        font-size: 18px;
    }
    .blog p{
        font-size: 10px;
    }
}